
html,body,#contents,.wrapper,#back{
  background-color: #001219;
  height: 100%;
  width: 100%;
}

#back{
  background-image: url(../images/puroguramu.png);
  background-size: contain;
  background-position: center;
  position: relative;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

footer{
  position: fixed;
  width: 100%;
  background-color: #fff;
  bottom:0;
  padding: 5px;
  text-align: right;
  font-size: 10px;
}

header h1{
  font-size: 20px;
}

header ul{
  display: flex;
  margin-left: auto;
}

header ul li{
  margin-left: 20px;
}

#contents{
  overflow: auto;
}



#akaikuruma:hover,
#ieie:hover,
#kobune:hover,
#kokki:hover,
#kuruma:hover,
#miginohume:hover,
#omiyage:hover,
#oobune:hover,
#syoukasen:hover,
#toudai:hover
{
  transform: scale(1.1);
}

#intro{
  position: fixed;
  display: flex;
  z-index: 101;
  background-color: #b42020;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  top: 0;
}